.about__program {
  padding: 50px 0;
}

.program__container {
  padding: 40px 20px 20px;
  background-color: #fffefe;
  border-radius: 35px;
}

.program__title {
  font-size: 60px;
  line-height: 1.27;
  margin-bottom: 60px;
  text-align: center;
}

.program__list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.program__list-elem {
  width: calc(50% - 10px);
}

.program__list-container {
  box-sizing: border-box;
  border-radius: 30px;
}

.list__container-first,
.list__container-third,
.list__container-second,
.list__container-fourth {
  padding: 35px;
}

.list__container-first {
  padding-top: 420px;
  background-color: #8b2ae1;
}
.list__container-second {
  padding-bottom: 190px;
  height: 490px;
  margin-top: 140px;
  background-color: #07ab4b;
}
.list__container-third {
  padding-bottom: 340px;
  background-color: #0079c1;
}
.list__container-fourth {
  padding-top: 160px;
  background-color: #5e0de0;
}

.program__list-title {
  font-size: 40px;
  color: #fff;
  margin-bottom: 20px;
}

.program__list-paragraph {
  font-size: 25px;
  line-height: 1.12;
  color: #fff;
  width: 490px;
}

.program__image-idea {
  position: absolute;
  top: -150px;
  left: -40px;
}

.program__image-cook {
  position: absolute;
  bottom: -175px;
  left: 190px;
}

.program__image-reward {
  position: absolute;
  bottom: 300px;
  right: -35px;
}

@media (max-width: 1250px) {
  .program__title {
    margin-bottom: 40px;
  }
  .program__list-title {
    font-size: 30px;
    margin-bottom: 11px;
  }
  .program__list-paragraph {
    font-size: 20px;
    width: 400px;
  }
  .list__container-first {
    padding-top: 370px;
  }
  .list__container-second {
    height: 389px;
  }
  .list__container-third {
    padding-bottom: 290px;
  }
  .list__container-fourth {
    padding-top: 110px;
  }
  .program__image-idea {
    height: 570px;
  }
  .program__image-reward {
    width: 390px;
  }
  .program__image-cook {
    width: 530px;
    left: 140px;
  }
}

@media (max-width: 980px) {
  .program__container {
    padding: 25px 15px;
    border-radius: 25px;
  }
  .program__title {
    margin-bottom: 30px;
  }
  .program__list {
    gap: 15px;
  }
  .program__list-elem {
    width: calc(50% - 8px);
  }
  .program__list-title {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .program__list-paragraph {
    font-size: 19px;
    width: 280px;
  }
  .list__container-first {
    padding-top: 313px;
  }
  .list__container-second {
    height: 349px;
  }
  .list__container-third {
    padding-bottom: 240px;
  }
  .list__container-fourth {
    padding-top: 90px;
  }
  .program__image-idea {
    height: 500px;
    top: -115px;
  }
  .program__image-reward {
    width: 345px;
  }
  .program__image-cook {
    width: 475px;
    left: 75px;
  }
}

@media (max-width: 760px) {
  .about__program {
    padding-top: 37px;
    padding-bottom: 37px;
  }

  .program__container {
    padding: 20px 10px;
    border-radius: 20px;
  }

  .program__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .program__list {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .program__list-elem {
    width: 100%;
  }

  .program__list-title {
    font-size: 22px;
    margin-bottom: 10px;
    text-align: center;
  }

  .program__list-paragraph {
    font-size: 18px;
    width: 100%;
    text-align: center;
    line-height: 1.4;
  }

  .list__container-first,
  .list__container-fourth {
    padding: 20px;
    height: 400px; 
    position: relative; 
  }

  .list__container-second,
  .list__container-third{
    padding: 20px;
    height: 250px; 
    position: relative;
  }

  .list__container-first {
    background-color: #8b2ae1;
  }

  .list__container-second {
    margin-top: 10px;
    background-color: #07ab4b;
  }

  .list__container-third {
    background-color: #0079c1;
  }

  .list__container-fourth {
    background-color: #5e0de0;
  }


  .program__image-idea {
    position: absolute;
    width: 420px;
    height: auto;
    z-index: 10;
    top: 3%;
    left: -2%;
  }


  .program__image-cook {
    position: absolute;
    width: 380px;
    height: auto;
    z-index: 10;
    top: 56%;
    left: 35%;
}


  .program__image-reward {
    width: 0;
  }

  .program__image-idea,
  .program__image-cook {
    display: block;
  }
}




@media (max-width: 560px) {
  .about__program {
    padding: 20px 5px;
  }

  .program__container {
    padding: 15px;
    border-radius: 15px;
  }

  .program__title {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .program__list {
    gap: 15px;
  }

  .program__list-title {
    font-size: 24px;
    margin-bottom: 8px;
  }

  .program__list-paragraph {
    font-size: 20px;
    line-height: 1.4;
  }

  .list__container-first,
  .list__container-second,
  .list__container-third,
  .list__container-fourth {
    padding: 15px;
  }

  .list__container-first {
    padding-top: 40px;
  }

  .list__container-second {
    margin-top: 8px;
    padding-bottom: 40px;
  }

  .list__container-third {
    padding-bottom: 40px;
  }

  .list__container-fourth {
    padding-top: 40px;
  }

  .program__image-idea {
    width: 345px;
    top: 10%;
    left: -9%;
  }

  .program__image-cook {
   
    width: 350px;
    left: 31%;
    top: 80%;

}
}

