@import url(../styles/header.css);
@import url(../styles/about.css);
@import url(../styles/whom.css);
@import url(../styles/title.css);
@import url(../styles/container.css);
@import url(../styles/points.css);
@import url(../styles/partners.css);

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 15px;
   
}

body {
    font-family: "Roboto Slab", "PT Sans";
    background: linear-gradient(to right, #E65C00, #F9D423);
    overflow-x: hidden;
}



p,
a,
ul,
li {
    font-family: "PT Sans";
    letter-spacing: -0.02em;
    font-weight: 400;
}

h1, 
h2,
h3 {
    font-family: "Roboto Slab";
    font-weight: 700;
    letter-spacing: 0;
}

@media (max-width: 640px) {
    .container {
        padding: 0 10px;
       
    }
}


