.whom__section {
  padding: 50px 0;
}

.whom__section-container {
  position: relative;
}

.whom__title {
  margin-bottom: 60px;
}

.whom__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.whom__list-elem {
  width: calc(50% - 10px);
}

.whom__list-elem:last-child:nth-child(2n + 1) {
  margin-left: 25%;
}

.whom__container {
  height: 275px;
  padding: 35px;
  background-color: #fff;
  border-radius: 30px;
}

.whom__container-title {
  font-size: 40px;
  line-height: 0.95;
  margin-bottom: 15px;
}

.whom__container-paragraph {
  font-size: 25px;
  line-height: 1.12;
  width: 390px;
}

.whom__image-restaurant,
.whom__image-rocket,
.whom__image-plate,
.whom__image-flower,
.whom__image-abstraction {
  position: absolute;
}

.whom__image-restaurant {
  position: absolute;
  width: 280px;
  top: 9%;
  left: 30%;
  animation: float 4s ease-in-out infinite; 
}

@keyframes float {
  0%, 100% {
    transform: translateY(0); 
  }
  50% {
    transform: translateY(-10px); 
  }
}


.whom__image-rocket {
  position: absolute;
  width: 297px;
  top: -8%;
  right: 3%;
  animation: float-rocket 5s ease-in-out infinite; 
}

@keyframes float-rocket {
  0%, 100% {
    transform: translateY(0) rotate(0); 
  }
  50% {
    transform: translateY(-15px) rotate(-2deg);
  }
}

.whom__image-plate {
  position: absolute;
  width: 400px;
  bottom: -2%;
  right: 17%;
  animation: rotate-plate 6.5s ease-in-out infinite; 
}

@keyframes rotate-plate {
  0%, 100% {
    transform: translateY(0) rotate(0); 
  }
  50% {
    transform: translateY(-15px) rotate(-2deg);
  }
}
.whom__image-flower {
  bottom: -49%;
  left: -10%;
}

.whom__image-abstraction {
  bottom: -33%;
  right: -12%;
}

@media (max-width: 1250px) {
  .whom__title {
    margin-bottom: 40px;
  }

  .whom__container {
    height: 220px;
    padding: 25px;
  }

  .whom__container-title {
    font-size: 30px;
    margin-bottom: 11px;
  }

  .whom__container-paragraph {
    font-size: 20px;
    width: 326px;
  }

  .whom__image-restaurant {
    width: 245px;
    left: 32%;
  }
  .whom__image-rocket {
    width: 247px;
    right: 0;
  }
  .whom__image-plate {
    width: 348px;
    right: 14%;
  }
  .whom__image-flower {
    width: 569px;
  }
  .whom__image-abstraction {
    width: 480px;
    bottom: -27%;
    right: -9%;
  }
}

@media (max-width: 1030px) {
  .whom__title {
    margin-bottom: 30px;
  }
  .whom__container {
    height: 195px;
    padding: 20px;
  }
  .whom__list {
    gap: 15px;
  }
  .whom__container-title {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .whom__container-paragraph {
    font-size: 19px;
    width: 260px;
  }

  .whom__image-restaurant {
    width: 200px;
    left: 30%;
  }
  .whom__image-rocket {
    width: 210px;
  }
  .whom__image-plate {
    width: 305px;
  }
  .whom__image-flower {
    width: 499px;
  }
  .whom__image-abstraction {
    width: 410px;
  }
}



 @media (max-width: 760px) {
  .whom__section {
    padding: 30px 0;
  }

  .whom__section-container {
    padding: 0;
  }

  .whom__title {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
  }

  .whom__list {
    align-items: center;
    gap: 20px;
  }

  .whom__list-elem:last-child:nth-child(2n + 1) {
    margin: 0 auto;
  }

  .whom__list-elem {
    width: 100%;
  }

  .whom__container {
    height: 205px;
    padding: 15px;
    background-color: #fff;
    border-radius: 25px;
   

  }

  .whom__container-rigth {
    background-image: url(../resources/glass__flower.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: left -37px top -138px;
  }
  
  .whom__container-left {
    background-image: url(../resources/glass__abstraction.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: right -53px top -218px;
  }
  

  .whom__container-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
  
  }

  .whom__container-paragraph {
    font-size: 18px;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(254, 135, 7, 0.9);
  }

  .whom__image-restaurant,
  .whom__image-flower,
  .whom__image-abstraction,
  .whom__image-plate,
  .whom__image-rocket {
    width: 0;
  }
}



@media (max-width: 560px) {
  .whom__section {
    padding: 20px 0;
  }

  .whom__section-container {
    padding: 0;
  }

  .whom__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .whom__list {
    gap: 15px;
  }

  .whom__list-elem {
    width: 100%;
  }

  .whom__container {
    height: 180px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
  }

  .whom__container-title {
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    background-color: rgba(130, 181, 105, 0.5);
    width: 190px;
    margin: 0 auto;
  }

  .whom__container-paragraph {
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    text-align: center;
    margin-top: 24px;
  }

  .whom__container-left {
    background-size: 370px;
    background-position: right -53px top -203px;
  }

  .whom__container-rigth {
    background-size: 390px;
        background-position: left -48px top -134px;
    }
  }



