.whom__section {
  padding: 50px 0;
}

.whom__section-container {
  position: relative;
}

.whom__title {
  margin-bottom: 60px;
}

.whom__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.whom__list-elem {
  width: calc(50% - 10px);
}

.whom__list-elem:last-child:nth-child(2n + 1) {
  margin-left: 25%;
}

.whom__container {
  height: 275px;
  padding: 35px;
  background-color: #fff;
  border-radius: 30px;
}

.whom__container-title {
  font-size: 40px;
  line-height: 0.95;
  margin-bottom: 15px;
}

.whom__container-paragraph {
  font-size: 25px;
  line-height: 1.12;
  width: 390px;
}

.whom__image-restaurant,
.whom__image-rocket,
.whom__image-plate,
.whom__image-flower,
.whom__image-abstraction {
  position: absolute;
}

.whom__image-restaurant {
  width: 280px;
  top: 9%;
  left: 30%;
}

.whom__image-rocket {
  width: 297px;
  top: -8%;
  right: 3%;
}

.whom__image-plate {
  width: 400px;
  bottom: -2%;
  right: 17%;
}

.whom__image-flower {
  bottom: -60%;
  left: -10%;
}

.whom__image-abstraction {
  bottom: -33%;
  right: -12%;
}

@media (max-width: 1250px) {
  .whom__title {
    margin-bottom: 40px;
  }

  .whom__container {
    height: 220px;
    padding: 25px;
  }

  .whom__container-title {
    font-size: 30px;
    margin-bottom: 11px;
  }

  .whom__container-paragraph {
    font-size: 20px;
    width: 326px;
  }

  .whom__image-restaurant {
    width: 245px;
    left: 32%;
  }
  .whom__image-rocket {
    width: 247px;
    right: 0;
  }
  .whom__image-plate {
    width: 348px;
    right: 14%;
  }
  .whom__image-flower {
    width: 640px;
  }
  .whom__image-abstraction {
    width: 480px;
    bottom: -27%;
    right: -9%;
  }
}

@media (max-width: 1030px) {
  .whom__title {
    margin-bottom: 30px;
  }
  .whom__container {
    height: 195px;
    padding: 20px;
  }
  .whom__list {
    gap: 15px;
  }
  .whom__container-title {
    font-size: 25px;
    margin-bottom: 7px;
  }
  .whom__container-paragraph {
    font-size: 19px;
    width: 260px;
  }

  .whom__image-restaurant {
    width: 200px;
    left: 30%;
  }
  .whom__image-rocket {
    width: 210px;
  }
  .whom__image-plate {
    width: 305px;
  }
  .whom__image-flower {
    width: 550px;
  }
  .whom__image-abstraction {
    width: 410px;
  }
}

@media (max-width: 760px) {
  .whom__section {
    padding: 30px 0;
  }

  .whom__section-container {
    padding: 0; /* Убираем padding */
  }

  .whom__title {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
  }

  .whom__list {
    align-items: center;
    gap: 20px;
  }

  .whom__list-elem:last-child:nth-child(2n + 1) {
     margin: 0 auto;
}

  .whom__list-elem {
    width: 100%;
  }

  .whom__container {
    height: 205px;
    padding: 15px;
    background-color: #fff;
    border-radius: 25px;
    background-image: url(../resources/line.png);
    background-repeat: no-repeat;
    background-size: 700px;
  }

  .whom__container-title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 20px;
    text-align: center;
  }

  .whom__container-paragraph {
    font-size: 18px;
    line-height: 1.4;
    width: 100%;
    text-align: center;
  }

  

  .whom__image-restaurant,
  .whom__image-flower,
  .whom__image-abstraction{
    width: 0;
}

.whom__image-rocket {
  position: absolute;
  width: 170px;
  top: 53%;
  right: 5%;
}
  .whom__image-plate {
    position: absolute;
    bottom: 52%;
    right: 65%;
    width: 200px;
  }

 
}

@media (max-width: 560px) {
  .whom__section {
    padding: 20px 0;
  }

  .whom__section-container {
    padding: 0; /* Убираем padding */
  }

  .whom__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .whom__list {
    gap: 15px;
  }

  .whom__list-elem {
    width: 100%;
  }

  .whom__container {
    height: 180px;
    padding: 10px;
    background-color: #fff;
    border-radius: 20px;
  }

  .whom__container-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 24px;
    text-align: center;
  }

  .whom__container-paragraph {
    font-size: 16px;
    line-height: 1.4;
    width: 100%;
    text-align: center;
  }



  .whom__image-restaurant {
    width: 0;
}

  .whom__image-rocket {
    position: absolute;
    width: 150px;
    top: 53%;
    right: 5%;
  }

  .whom__image-plate {
    position: absolute;
    width: 185px;
    bottom: 49%;
    right: 56%;

}


}

